body {
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    background-color: #313131;
}

h2 {
    font-size: 24px;
    color: #83476D;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 2px dotted grey;
}

nav {
    height: 45px;
    width: 100%;
    background-color: #8892BF;
    border-bottom: 4px solid #4F5B93;
    position: fixed;
    top: 0;
}

main {
    width: 680px;
    background-color: #F2F2F2;
    margin: 80px auto 40px;
    padding: 30px;
    border-left: 5px solid #b3b3b3;
}

.code {
    font-family: 'Fira Mono', monospace;
    background-color: white;
    border: 1px solid #b3b3b3;
    padding: 20px 10px;
    font-size: 14px;
    margin-bottom: 40px;
}

.code--strng {
    color: darkcyan;
}

.code--int {
    color: red;
}

.code--flt {
    color: violet;
}

.code--numb {
    color: skyblue;
}

.code--boo {
    color: lightgreen;
}